@using Repository;
@model MainOptions

@{
    ViewBag.Title = "Secret";
    Layout = "~/Views/Shared/_detailspage.cshtml";
}


<a href="/Home/Edit2/">Edit FrontPage</a>


<section class="no-padding" id="portfolio">
    <div class="container-fluid aboutmargintop5" id="two">
        <div class="row no-gutter popup-gallery">
            <div class="col-sm-12" id="">
                <h2 class="text-center abouth2 paddingtop"> Edit Works</h2>
                <hr>
            </div>
            <div class="col-sm-12 pmarginbottom2" id="">
                <h2 class="text-center"> Edit one of these by clicking on it</h2>
            </div>
            @foreach (PortfolioTable main in Model.Portfolio)
            {
                <div class="col-lg-4 col-sm-12 col-md-12">
                    <a href="/Home/Details2/@main.ID" class="portfolio-box">
                        <img src="@main.PortFolioImage" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Click for more
                                </div>
                                <div class="project-name">
                                    @main.PortfolioSmallDesc
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            }
        </div>
    </div>
</section>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-4">
            <ul>
                @foreach (UserCodingTable name in Model.UserCoding)
            {
                    <li>@name.UserCodings</li>
                    <a class="btn btn-default" href="/Home/Edit3/@name.ID"> Opdater UserCoding</a>
                }
            </ul>
        </div>
        <div class="col-sm-4">
            <ul>
                @foreach (UserGraphicsTable name in Model.UserGraphics )
            {
                    <li>@name.UserGraphics </li>
                    <a class="btn btn-default" href="/Home/Edit4/@name.ID"> Opdater UserGraphics</a>
                }
            </ul>
        </div>
        <div class="col-sm-4">
            <ul>
                @foreach (UserInformationTable name in Model.UserInformation)
            {
                    <li>@name.UserInformation</li>
                    <a class="btn btn-default" href="/Home/Edit5/@name.ID"> Opdater UserInformation</a>
                }
            </ul>
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="~/Content/js/bootstrap.js"></script>
<script src="~/Content/js/bootstrap.min.js"></script>